# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives**
*   Rememeber important tools, libraries and development environment for Data science
*  Use markdown for explain information in cells
*  Create some codes and comments

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. Javascript

Some of the commonly used libraries used by Data Scientists include

1. Numpy
2. Pandas
3. Matplotlib
4. ggplot
6. Caret


|Data Science Tools|
|------------------|
|R studio          |
|Apache Spark      |
| Jupyter          |
|Ray               |
| Apache Flink     |
| Spyder           |
|Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
(200*1)/60

3.3333333333333335

## Autor
Sharon Gamarra